<div class="row">
  <div class="col-md-4">
  {{group.group.title}}
  ( / {{group.group.questions.length}})
  </div>
  <div class="col-md-8">
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: 35%">
      </div>
      <div class="progress-bar progress-bar-warning" style="width: 20%">
      </div>
      <div class="progress-bar progress-bar-danger" style="width: 10%">
      </div>
    </div>
  </div>
</div>
{{ group.title }}
<hr>
<h3>{{ question.title }}</h3>
<form role="form">
  <div class="radio" ng-repeat="choice in question.choices">
    <label>
      <input type="radio" name="question" value="choice"> {{ choice }}
    </label>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
